@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

.Image-Resizer img
{
    margin: auto;
    max-width: 60rem;
    max-height: 40rem;
    padding: 2%;
    object-fit: cover;
}




/* Anon Button */
/* Customize the toggle button appearance */
.toggle-btn {
    width: 48px;
    height: 24px;
    border-radius: 9999px;
    background-color: #E5E7EB; /* Default background color */
    position: relative;
    cursor: pointer;
}

.toggle-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
}



/* Move the slider when the checkbox is checked */
#anon:checked + .toggle-btn::before {
    transform: translateX(24px); /* Move the slider to the right */
}

/* Change background color of the toggle button when checked */
#anon:checked + .toggle-btn {
    background-color: #0056b3; /* Green background color */
}

input:checked ~ .dot {
    transform: translateX(100%);
  }
  input:checked ~ .dot #sunIcon {
    display: none;
  }
  input:checked ~ .dot #moonIcon {
    display: block;
  }
  input:checked ~ .block {
    background-color: #0e0c31;
  }


#content{
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 #image{
    opacity: 0;
    position: absolute;
    z-index: -1;
 }






/*make them responsive*/
@media only screen and (max-width: 600px) {
    .Image-Resizer img
    {
        max-width: 30rem;
        max-height: 20rem;
    }
} 

@media only screen and (min-width: 600px) {
    .Image-Resizer img
    {
        max-width: 40rem;
        max-height: 30rem;

    } 
}
@media only screen and (min-width: 992px) {
    .Image-Resizer img
    {
        max-width: 50rem;
        max-height: 35rem;
    } 
}
@media only screen and (min-width: 1200px) {

    .Image-Resizer img
    {
        max-width: 60rem;
        max-height: 40rem;
    } 
}



